
header{
    position: relative;    
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background: linear-gradient(90deg, rgba(2,0,36,.5) 0%, rgba(4,1,47,1) 35%, rgba(121,181,224,1) 100%);

}

.logo{
    position: relative;
    width: 100%;
    height: 25vh;
    background-image: url(../img/GitHub.png);
    background-repeat: no-repeat;
    background-size:15%;
    background-position: 2% 30%;
}

.search{
    position: relative;
    width: 90%;
    height: 40px;
    border-radius: 25px;
    padding-left: 3%;
}

.lupa{
    position: relative;
    width: 50%;
    height: 100%;
}

.form{
    position: relative;
    margin-left: 17%;
    margin-top: 3vh;
    width: 70%;
    top: 10vh;
}

.btn-search{
    position: relative;
    width: 60px;
    height: 30px;
    left: -10%;
    top: 10px;
    background-color: transparent;
    border: none;
}

.img-btn{
    position: relative;
    width: 100%;
    height: 100%;
}

.repos{
    position: relative;
    width: 100%;
    left: 5%;
    margin-top: 5vh;
    min-height: 60vh;
    overflow: hidden;
    padding-bottom: 5vh;

}   

.repo-item{
    position: relative;
    width: 25%;
    background-color: #FFF;
    min-height: 20vh;
    float: left;
    margin: 2% 5% 0% 1%;
    padding: 1%;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}


.area-text{
    position: relative;
    width: 80%;
    min-height: 100vh;
    overflow: hidden;
    left: 10%;
    background-color: white;
}

.img-user{
   position: relative;
   width: 15%;
   height: 30vh;
   float: left;
}

.owner{
    position: relative;
    width: 95%;
    float: none;
    left: 5%;
    height: 35vh;
}

.login, .tipo, .perfil{
    position: relative;
    left: 5%;
    top: 7vh;
    margin-bottom: 10px;
    font-weight: 600;
    color: rgba(4,1,47,1);
}

.login{
    font-size: 24px;
}